<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block css %}
        {% endblock %}
        <style>
            body {
                overflow: hidden; /* Disable scrolling */
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="min-vh-100 d-flex flex-column">
        {% block body %}{% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
